

<div id='home-page-header' class='row'>
  <div class="container">
    <h1><span>M</span>ajor <span>A</span>rcana</h1>
  </div>
</div>



<div id='major-arcana-display' class='row'>
  <div class="container">
    <div id='search-area' class='col'>
      <div class="container">

        <input type="text" value="" />
      </div>
    </div>

    <div id='tarot-area' class='col' data-bind='foreach: majorArcanaCards'>
      <img src="" alt="" data-bind="attr:{src: imagePath}" />

    </div>
  </div>
</div>

<div id='home-page-footer' class='row'>
  <div class='container'>
  </div>
</div>

