.flip {
  -webkit-perspective: 800;
  -moz-perspective: 800;
  perspective: 800;

  width: 244px;
  height: 414px;

  margin: 10px auto;

}
.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
  -moz-transform: rotatey(-180deg);
  transform: rotatey(-180deg);
}
.flip .card {
  width: 230px;
  height: 400px;

  padding: 7px;

  border: solid 1px black;
  border-radius: 5px;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;

  -moz-transform-style: preserve-3d;
  -moz-transition: 0.5s;

  transform-style: preserve-3d;
  transition: 0.5s;

}
.flip .card .face {
  width: 210px;
  height: 380px;
  padding: 10px;

  -webkit-backface-visibility: hidden ;
  -moz-backface-visibility: hidden ;
  backface-visibility: hidden ;

  z-index: 2;
  text-align: center;
  background-size: 230px 400px !important;
  background-repeat: no-repeat;
}

.flip .card .front {
  position: absolute;
  z-index: 1;
}
.flip .card .back {
  border: solid 1px black;
  overflow: hidden;
  
  -webkit-transform: rotatey(-180deg);
  -moz-transform: rotatey(-180deg);
  transform: rotatey(-180deg);
}
