div#home-page-header {
  min-width: 1280px;
  background-color: #ffd700;

  overflow: hidden;

  div.container {
    height: 130px;
    h1 {
      display: block;
      float: right;
      font-size: 72px;
    }

    span {
      color:#B22222;
      font-family: "vivaldi", cursive;
      font-size:110px;
    }
  }

}


div#major-arcana-display {
  margin-top: 20px;
  div.container {
    overflow: hidden;

    div#search-area {
      div.container {
        width: 180px;
        height: 800px;
        padding: 0px 5px 5px 5px;

        h3 {
          margin-top: 30px;
          font-size: 35px;
        }

        input {
          width: 150px;
          margin-top: 20px;
        }

        p {
          margin-top: 20px;
        }
      }
    }

    div#tarot-area {
      width: 83%;
      height: 100%;
      overflow: hidden;
      padding-top: 20px;
      margin-left: 20px;

      div.face.back {
        p {
          margin: 50px 0px 50px 0px;
          font-size: 30px;
          line-height: 40px;
        }
      }
    }

    span {
      font: 13px;
    }
  }
}
