<!DOCTYPE html>
<html>
<head>
  <title>WunderTarot</title>
  <%= stylesheet_link_tag    asset_url("application.css"), media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag asset_url("application.js"), "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <div class='main-container'>
      <%= yield %>
    </div>

    <script type="text/javascript" charset="utf-8">
      $(document).ready(function () {
        new WunderTarot.Views.MajorArcana
      });
    </script>
  </body>
</html>
