<html>
  <head>
    <title>WunderTarot</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">

    <%= stylesheet_link_tag    asset_url("mobile_version/mobile.css"), media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag asset_url("mobileVersion/mobile.js"), "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

  <body orient='portrait'>
    <div id='search-input' class='row'>
      <input type="text" data-bind="value: searchValue, valueUpdate: 'input'" value="" />
    </div>

    <div id='infinite-card-scroll' class='row' data-bind='foreach: majorArcanaCards'>
      <div class="flip" data-bind="click: flipMe">
        <div class="card">
          <div class="face front" data-bind="attr:{style: bgImagePath}">
          </div>

          <div class="face back">
            <p data-bind='text: cardName'></p>
            <p data-bind='text: meaning'></span>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" charset="utf-8">
      jQuery(document).ready(function () {
        new WunderTarot.Views.MajorArcana({el:$('body')})
      });
    </script>
  </body>
</html>
